:root{
    --cor-fundo_site : rgb(240, 240, 240);
    --cor-fundo_site2 :rgb(230, 230, 230);
    --cor-menu_fundo : rgb(52, 52, 52);
    --cor-menu_fundo2 : rgb(60, 60, 60);
    --cor-menu_selecionado : rgb(70, 70, 70);
    --cor-menu_selecionado2 : rgb(85, 85, 85);

    --cor-menu_letra : rgb(225, 225, 225);
    --cor-menu_letra_selec : rgb(248, 248, 248);
    --cor-azul : rgb(255, 255, 255);
    --cor-azulbtn : rgb(66, 137, 223);
    --cor-azulbtn2 :rgb(77, 152, 244);
    --cor-mafim : rgb(215, 228, 227);

}
*{
    font-family: Verdana, "Franklin Gothic Demi", sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--cor-fundo_site);
}

a:link, a:visited{
    color: var(--cor-fundo_site);
}

.banner{
    margin: 0 auto;
    display: flex;
    padding-top: 200px;
    max-width: 1060px;
    width: 100%;
    height: auto;
}
.bannerleft{
    padding: 80px 0 0 30px;
    color: black;
    border-bottom: 3px solid rgb(138, 138, 138);
    max-width: 530px;
    width: 100%;
    height: 300px;
}

.bann1, .bann2, .bann3, .bann4{
    max-width: 530px;
    width: 100%;
}

.bann1{
    color: var(--cor-menu_selecionado);
    font-size: 18px;
    margin-bottom: 20px;
}
.sp1{
    color: var(--cor-menu_selecionado);
    font-size: 20px;
}
.sp2{
    color: var(--cor-menu_selecionado);
    font-size: 20px;
    font-weight: bolder;
}
.sp3{
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-size: 50px;
    font-family: Impact;

    background: -webkit-linear-gradient(left, rgb(42, 132, 249),var(--cor-menu_selecionado2));
    background: linear-gradient(to right, rgb(66, 137, 223), rgb(187, 98, 255));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bann4{
    display: flex;
    padding-top: 10px;
    left: 0;
}

.thebtn, .thebtn3{
    text-align: center;
    width: 180px;
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--cor-azulbtn);
    color: var(--cor-azulbtn);
    font-family: "Arial Black";
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.thebtn2{
    text-align: center;
    width: 140px;
    display: block;
    padding: 10px;
    background-color: var(--cor-azulbtn);
    border: 1px solid var(--cor-azulbtn);
    color: white;
    font-family: "Arial Black";
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.thebtn3{
    width: 140px;

}
a.thebtn, a.thebtn3{
    border: 1px solid var(--cor-menu_fundo);
    color: var(--cor-menu_fundo);
}
a.thebtn:hover, a.thebtn3:hover{
    border: 1px solid var(--cor-azulbtn);
    color: var(--cor-azulbtn);
}




.bannerright{
    border-bottom: 3px solid rgb(138, 138, 138);
    background-image: url(imgs/banneraaa2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
    display: flex;
    max-width: 530px;
    width: 100%;
    height: 300px;
}



.project_ctn{
    margin: 0 auto;
    display: flex;
    max-width: 1060px;
    width: 100%;
    height: auto;
}

.project_left{
    padding-top: 100px;
    max-width: 370px;
}
.texto1{
    color: var(--cor-menu_fundo);
    font-size: 44px;
    font-weight: bolder;
    font-family: 'Verdana';
}
.texto{
    color: var(--cor-menu_fundo);
    font-size: 16px;
    font-family: Tahoma, Verdana, sans-serif;
}
.btn_ctn{
    display: flex;
    justify-content: space-evenly;

}
.project_right, .project_right2{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    width: 100%;
    height: 400px;
}
.project_right{
    background-image: url(imgs/Project0.png);
}
.project_right2{
    background-image: url(imgs/Project1.png);
}

@media screen and (max-width: 900px){
    .project_ctn{
        display: block;
    }
    .project_left{
        margin: 0 auto;
        padding: 100px 0 30px 0;
        max-width: 94%;
    }
    .project_right, .project_right2{
        background-position: top;
        max-width: 94%;
    }


}



@media screen and (max-width: 700px){
    .banner{
        display: block;
        padding-top: 30px;
    }
    .bannerleft{
        padding: 80px 0 0 30px;
        color: black;
        border: none;
    }


}

.aboutme, .aboutme_text, .aboutme_icons{
    text-align: center;
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
    width: 100%;

}
.aboutme{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    color: var(--cor-menu_selecionado);
}
.aboutme_text{
    max-width: 640px;
    font-size: 20px;
    padding: 40px 15px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: var(--cor-menu_selecionado);

}

.aboutme_icons{
    display: flex;
    justify-content: center;
    padding: 20px 0 200px 0;

}

.icons ion-icon{
    margin: 5px 5px 0 0;
    width: 30px;
    height: 30px;
    color: var(--cor-menu_fundo);
    transition: 0.3s;
}
.activo:hover{
    color: var(--cor-azulbtn);
    filter: brightness(1.2);
    transform: scale(1.2);
}
.inactivo:hover{
    color: var(--cor-menu_selecionado);
    filter: brightness(1.2);
}



.separacione{
    width: 100px;
    height: 300px;
}
.separacioneq{
    width: 100px;
    height: 60px;
}
.separacionew{
    background-color: var(--cor-menu_selecionado2);
    width: 100%;
    height: 2px;
}
.separacioneb{
    width: 100%;
    height: 300px;
    background-color: var(--cor-menu_fundo);
}




.navigaciona{
    z-index: 1;
    position: absolute;
    position: fixed;
    background-color: var(--cor-menu_fundo);
    width: 100%;
    height: 50px;
}
.cotai{
    margin: 0 auto;
    display: flex;
    max-width: 1060px;
    width: 100%;
    height: auto;
}
.menuzinhoa{
    width: 100%;
    max-width: 1060px;
    display: flex;
}

.navigaciona ul li{
    width: 100%;
    text-align: center;
    display: inline;
}
.navigaciona ul li a{
    font-family: Verdana, Tahoma, sans-serif;
    color: var(--cor-fundo_site);
    border-bottom: 4px solid var(--cor-menu_fundo);
    border-top: 4px solid var(--cor-menu_fundo);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    width: 100%;
    text-align: center;
}










.navigacionax{
    z-index: 1;
    position: absolute;
    position: fixed;
    background-color: var(--cor-menu_fundo);
    width: 100%;
    height: 50px;
}
.cotaix{
    margin: 0 auto;
    display: flex;
    max-width: 1060px;
    width: 100%;
    height: auto;
}
.menuzinhoax{
    width: 100%;
    max-width: 1060px;
    display: flex;
}
.navigacionax ul{
    list-style-type: none;
    height: 50px;
}
.navigacionax ul li{
    width: 100%;
    text-align: center;
    display: inline;
}
.navigacionax ul li a{
    font-family: Verdana, Tahoma, sans-serif;
    color: var(--cor-fundo_site);
    border-bottom: 4px solid var(--cor-menu_fundo);
    border-top: 4px solid var(--cor-menu_fundo);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    height: 50px;
    text-align: center;
} 

#ins a{
    color: var(--cor-fundo_site2);
    border-bottom: 3px solid var(--cor-fundo_site2);
}















.uum, .ddois, .ttres, .qquatro, .ccinco{
    margin-left: 8px;
    width: 38px;
    height: 38px;
    min-width: 38px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.uum{
    background-image: url(imgs/amhome.png);
}
.ddois{
    background-image: url(imgs/amresume.png);
}
.ttres{
    background-image: url(imgs/amprojects.png);
}
.qquatro{
    background-image: url(imgs/amservices.png);
}
.ccinco{
    background-image: url(imgs/amcontact.png);
}


.iconi:hover, .iconi2:hover, .iconibuff:hover, .iconifreela:hover, .iconitrophy:hover{
    cursor: pointer;
}


















.navigacionax, .cotaix, .menuzinhoax{
    display: none;
}

.navigaciona ul li a:hover,
.navigacionax ul li a:hover{
    border-top: 4px solid var(--cor-menu_selecionado);
    background-color: var(--cor-menu_selecionado);
    color: var(--cor-azul);
    border-bottom: 4px solid var(--cor-azul);
}

#ins a{
    color: var(--cor-fundo_site2);
    border-bottom: 3px solid var(--cor-fundo_site2);
}

@media screen and (max-width: 550px){
    .navigaciona ul li a{
        padding: 10px 0px 10px 0px;
    }
}
@media screen and (max-width: 450px){
    .navigacionax, .cotaix, .menuzinhoax{
       display: flex;
     }

    .navigaciona, .cotai, .menuzinhoa{
        display: none;
    }

}










.blocaum{
    display: block;
    margin: 20px 10%;
    height: auto;
}
.ccontain{
    margin: 0 auto;
    display: flex;
    max-width: 1060px;
    width: 100%;
    height: 300px;
}
.card1{
    padding-left: 50px;

    padding-top: 30px;
    max-width: 530px;
    width: 50%;
    height: 300px;
}
.card2{
    padding-right: 50px;

    padding-top: 30px;
    max-width: 530px;
    width: 50%;
    height: 300px;
}

@media screen and (max-width: 650px){
    .ccontain{
    display: block;
    height: 600px;
    }
    .card1, .card2{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    }
}


.minicard{
    margin: 0 auto;
    filter: grayscale(50%);
    transition: 0.4s;
    opacity: 70%;
    border-radius: 4px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 200px;
    border: 1px solid rgb(141, 141, 141);
    border-bottom: 8px solid rgb(141, 141, 141);
}
.minicard:hover{
    border-bottom: 8px solid var(--cor-menu_fundo);
    filter: none;
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.1);
}
#card1{
    background-image: url(imgs/Card_curriculo.png);
    background-size: 100%; 
}
#card1b{
    background-image: url(imgs/Card_design.png);
    background-size: 100%;
}
#card2{
    background-image: url(imgs/Card_mobile.png);
    background-size: 100%;
}
#card2b{
    background-image: url(imgs/Card_gamedev.png);
    background-size: 100%;
}
.mainleg{
    color: var(--cor-menu_fundo);
    font-family: "Segoe UI Light";
    font-weight: bold;
    font-size: 28px;
}

a:link{
    text-decoration: none;
}


















.blocaum2{
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}


.countainersss{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.obj{
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--cor-menu_selecionado);
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
}

.objm{
    padding-top: 145px;
    display: flex;
}

.af{
    border-top: 200px solid var(--cor-fundo_site);
    background-color: var(--cor-fundo_site);
    margin-top: -200px;
    padding-left: 10px;
    padding-right: 5px;
    font-family: Verdana;
    font-weight: bolder;
    font-size: 28px;
    color: var(--cor-menu_selecionado);
}

.aff{
    font-family: Verdana;
    padding-left: 25px;
    font-weight: bolder;
    font-size: 28px;
    color: var(--cor-menu_letra_selec);
}

#objm2{
    padding: 20px 0px 0px 47px;
    color: var(--cor-fundo_site);
    font-family: "Segoe UI Light";
    font-size: 24px;
}

.aquela{
    margin-top: -10px;
    margin-left: 55px;
}

#u, #n, #i, #c, #a, #s{
    color: var(--cor-fundo_site);
    font-family: "Segoe UI Light";
    font-weight: 900;
    font-size: 30px;
}

#u{
    margin-left: 65px;
    color: rgb(255, 137, 206);
}
#n{
    color: rgb(255, 137, 137);
}
#i{
    color: rgb(255, 200, 137);
}
#c{
    color: rgb(214, 255, 137);
}
#a{
    color: rgb(137, 255, 161);
}
#s{
    color: rgb(137, 149, 255);
}

.lasto{
    display: flex;
    margin: -33px 0px 0px 239px;
    color: var(--cor-fundo_site);
    font-family: "Segoe UI Light";
    font-size: 24px;
}


.curv{
    float: right;
    display: flex;
    margin: -32px -48px 0px 0px;
    color: var(--cor-menu_fundo);
    font-family: "Segoe UI Light";
    font-size: 24px;
    font-weight: bold;
}


@media screen and (max-width: 650px){
    .blocaum2{
        transform: scale(0.8);
    }
}
@media screen and (max-width: 550px){
    .blocaum2{
        transform: scale(0.6);
    }
}















.grblocs{
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo_site);
    border-bottom: 100px solid var(--cor-fundo_site);
}
.gresq{
    margin: 0 auto;
    width: 400px;
}


.grs0, .grs1, .grs2{
    height: 100px;
}
.grs2{

    width: 10px;
}
.grs0 img, .grs1 img, .grs2 img{
    width: 380px;
}

.grs0 img{
    margin-top: 50px;
}
.grs1 img{
    margin-top: -50px;
}
.grs2 img{
    margin-top: -150px;
}

@media screen and (max-width: 390px){
    .gresq{
        width: 340px;
    }
    .grs0 img, .grs1 img, .grs2 img{
        width: 320px;
    }
}


















.wireframes{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo_site);
    border-top: 20px;
    border-bottom: 100px solid var(--cor-fundo_site);
}

.wesq{
    width: 400px;
}
.wdir{
    width: 400px;
}

.recado{
    padding-bottom: 10px;
    font-family: "Segoe UI Light";
    font-size: 38px;
    color: var(--cor-menu_fundo);
}

.s0, .s1, .s2, .s3, .s4, .s5{
    margin: 0 auto;
    width: 150px;
    height: 100px;
}
.s0 img, .s1 img, .s2 img, .s3 img, .s4 img, .s5 img{
    width: 230px;
}

.s0 img{
    margin-top: 200px;
}
.s1 img{
    margin-top: 100px;
}
.s3 img{
    margin-top: -100px;
}
.s4 img{
    margin-top: -200px;
}
.s5 img{
    margin-top: -300px;
}


@media screen and (max-width: 500px){
    .wireframes{
        display: block;
    }
    .wesq{
        padding-right: 60px;
        width: 100%;
    }
    .wdir{
        text-align: center;
        width: 100%;
        margin-top: -100px;
    }
}










.brocs{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 200px;
    max-width: 100%;
}


.sep{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.sep img{
    max-width: 100%;
}

.languagept{
    color: var(--cor-menu_fundo);
    padding: 20px;
    font-weight: bolder;
    margin-top: -100px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 40px;
}
.languageen{
    color: var(--cor-menu_fundo);
    padding: 20px;
    text-align: end;
    font-weight: bolder;
    margin-top: -100px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 40px;
}

@media screen and (max-width: 450px){
    .languagept, .languageen{
        margin-top: -70px;
        font-size: 28px;
        text-align: center;
    }
}
















/*.blocaum{
    display: block;
    margin: 20px 10%;
    height: auto;
}
.ccontain{
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    max-width: 1060px;
    width: 100%;
    height: 300px;
}


.blocaumm{
    border: 2px solid rgb(193, 109, 25);
    display: flex;
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
    height: 505px;
    background-color: var(--cor-fundo_site);
}*/

.blocaumm{
    display: block;
    margin: 0 auto;
    background-image: url(imgs/cotatu.png);
    max-width: 1060px;
    width: 100%;
}
.inblocaum{
    margin: 0 auto;
    display: flex;
    max-width: 800px;
    width: 100%;
    height: auto;
}
.countainy{
    max-width: 360px;

}

.fomulaiu{
    border-radius: 16px;
    background-color: rgb(218, 218, 218);
    width: 360px;
    font-size: 14px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Segoe UI Light";
    padding-right: 20px;
    padding-left: 20px;
}

.fomulaiu label, .fomulaiu input, .fomulaiu textarea{
    display: block;
    width: 340px;
}
.fomulaiu label{
    color: var(--cor-menu_fundo);
    line-height: 1;
    margin-bottom: 8px;
}
.fomulaiu input, .fomulaiu textarea{
    font-family: "Segoe UI Light";
    font-weight: bold;
    font-weight: bold;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid var(--cor-menu_selecionado);
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}
.fomulaiu textarea{
    width: 340px;
    min-height: 96px;
    resize: none;
}

.fomulaiu input:hover, 
.fomulaiu textarea:hover,
.fomulaiu input:focus, 
.fomulaiu textarea:focus{
    outline: none;
    border-color: var(--cor-azul);
    box-shadow: 0 0 0 2px var(--cor-azul);
}
.fomulaiu button{
    width: 180px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    background: var(--cor-menu_selecionado);
    color: var(--cor-menu_letra_selec);
    font-family: "Arial Black";
    font-weight: bold;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.fomulaiu button:hover, .fomulaiu button:focus, .thebtn:hover, .thebtn:focus, 
.thebtn2:focus, .thebtn2:hover{
    outline: none;
    filter: brightness(120%);
}

h1{
    font-family: "Segoe UI Light";
    color: var(--cor-menu_selecionado);
    font-weight: bold;
    font-size: 32px;
    margin: 0px 0px 15px 18px;
}

@media screen and (max-width: 900px){
    .blocaumm{
        background-image: url(imgs/cotatu2.png);

    }
}



































.foot{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 340px;
    background-color: var(--cor-menu_fundo);
}

.contato_esquerda{
    padding-top: 10px;
    padding-left: 10px;
    color: var(--cor-menu_letra);
    width: 400px;
    height: 200px;
}
.contato_direita{
    padding-top: 10px;
    background-color: var(--cor-menu_fundo2);
    padding-left: 80px;
    border-left: 4px solid var(--cor-fundo_site2);
    border-radius: 0px 20px 0px 0px;
    color: var(--cor-menu_letra);
    width: 400px;
    height: 200px;
}
.cotato{
    margin-top: 10px;
    display: flex;
}


h2{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: lighter;
    color: var(--cor-menu_letra_selec);
}
h4{
    padding: 4px 7px;
    font-family: "Gisha", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: var(--cor-menu_letra);
}

#email, #ats, #linkedin, #insta, #face, #twitter{

    width: 30px;
    height: 30px;
    background-color: rgb(139, 147, 144);
} 

#email{
    background-image: url(imgs/contato_outlook.png);
    background-size: 100%;
}
#ats{
    background-image: url(imgs/contato_whats.png);
    background-size: 100%;
}
#linkedin{
    background-image: url(imgs/contato_linkedin.png);
    background-size: 100%;
}
#insta{
    background-image: url(imgs/contato_insta.png);
    background-size: 100%;
}
#face{
    background-image: url(imgs/contato_face.png);
    background-size: 100%;
}
#twitter{
    background-image: url(imgs/contato_twitter.png);
    background-size: 100%;
}
@media screen and (max-width: 600px){
    .foot{
        height: auto;
        padding-top: 50px;
        display: block;
    }
    .contato_esquerda, .contato_direita{
        max-width: 340px;
        padding-left: 20px;
        border-left: 0;

    }
}
